* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(../fonts/Outlier-Rail.woff);
    font-family: 'Outlier-Rail';
    font-weight: normal;
}

body {
    background-color: rgb(240, 248, 255);
}

header {
    background-color: rgb(55, 84, 238);
    display: flex;
    justify-content: space-around;
    height: 35px;
    align-items: center;
    padding: 10px;
}

header nav ul {
    width: 600px;
    height: 35px;
    text-align: end;
}

header nav ul li {
    font-family: 'Outlier-Rail';
    font-size: 16px;
    list-style-type: none;
    display: inline-flex;
    overflow: hidden;
    justify-content: space-around;
}

header a {
    position: right;
    color: white;
    padding: 14px;
    text-decoration: none
}

.logopeq {
    width: 85%;
    align-items: center;


}

.logopeq img {
    width: 45px;
}

.logo {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

.logo img {
    width: 30%;
}

table {
    margin-left: 80px;
    margin-right: 80px;
}

table img {
    border-radius: 2%;
    width: 140;
    height: 122px;
    text-align: right;
    align-items: center;
}

tr {
    margin-left: 120px;
    margin-right: 120px;
}

td h3 p {
    margin-left: 15px;
    margin-right: 200px;
    font-size: 22px;
    align-items: center;
}

footer {
    background-color: rgb(55, 84, 238);
    display: flex;
    justify-content: end
}

.footer-nav ul {
    list-style-type: none;
    padding-left: 0
}

footer ul li {
    font-family: 'Outlier-Rail';
    font-size: 16px;
}

.footerSection {
    width: 100%;
    right: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-nav li a {
    color: white;
    text-decoration: none;
}

.contact-info {
    text-align: center;
    color: white;
    font-size: 20px;
}

.contact-info ul {
    list-style-type: none;
    text-align: center;
}

#map {
    float: right;
    display: flex;
    justify-content: right;
    width: 18%;
    height: auto;
}

footer {
    position: relative;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    height: 160px;
}

/* CSS JANELA MODAL */
h1{
    font-weight: bold;
    margin-bottom:  20px;
    color: #fff;
}

.signin, .signup p{
    line-height: 1.5em;
    color: #fff;
}

.trigger{
    background-color: rgb(240, 248, 255);
    color: #2f3cc7;
    font-size: 22px;
    padding: 10px 20px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    opacity: 15;
    visibility: hidden;
    backdrop-filter: blur(10px)
}

.overlay:target{
    opacity: 1;
    visibility: visible;
}

.wrapper{
    position: relative;
    width: 50%;
    min-height: 400px;
    display: flex;
}

.close{
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 30px;
    color: rgb(185, 211, 234);
    font-weight: bold;
    transition: all 200ms;
}

.column{
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details{
    background-color: rgb(227, 237, 245);
}

.details h1{
    color: black;
}

.signin, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    background: #fdfdfd;
    border: none;
    padding: 12px 15px;
    border: 2px;
    margin: 8px 0;
    width: 100%;
    font-family: inherit;
    color:black;
    font-size: inherit;
}

input:focus{
    outline-color: rgb(240, 248, 255);
}
a{
    color: #10213e;
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
}
.form-submit{
    background: rgb(55, 84, 238);
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 12px 45px;
    font-size: 12px;
    font-weight:  bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

.form-submit:hover{
    background: #34a0f2;
    transform: scale(1.1);
}

.signup .form-submit{
    margin-top: 15px;
}

#signin, #signup{
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color:rgb(55, 84, 238);
    font-weight: bold;
    cursor: pointer;
}

span{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
    color: black;
}

.content{
    background: rgb(55, 84, 238);
    columns: #fff;
    text-align: center;
}

@media only screen and (max-width: 900px){
    .wrapper{
        width: 80%;
    }
}

@media only screen and (max-width: 480px){
    .wrapper{
        width: 80%;
    }
    .column{
        width: 100%;
    }

    .close{
        top: 0;
        right: 10px;
        margin: 0;
    }
}

/* FIM DO CSS JANELA MODAL */